<h1>Projects</h1>
<%= form_for @project do |f| %>
   <div class="form-group">
     <%= f.text_field :title, class: 'form-control', placeholder: "Project Name" %>
   </div>
   <div class="form-group">
     <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Description" %>
   </div>
   <div class="form-group">
     <%= f.submit "Save Project", class: 'btn btn-success' %>
   </div>
   <h3> Contacts </h3>
  <div id="contacts">
    <%= f.fields_for :contacts do |contact| %>
      <%= render 'contact_fields', f: contact %>
      <div class="links">
        <%= link_to_add_association 'Add contact', f, :contacts %>
      </div>
    <% end %>
  </div>
<% end %>

<h1>Preview</h1>

<div id="body-preview"></div>
